#home-background{
    background: url('images/colourfulbackground.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size:cover;
    background-size: cover;
    -o-background-size:cover;
}

#homecardholder{
    display: flex;
    justify-content: center;
    align-items: center;
}


#homecard{
    max-width: 60rem;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    border-radius: 20px;
}


#SignUpButton {
    margin-top:15px;
    
  }

.btn {

    width: calc(50% - 10px);
    /* padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px; */
    margin: 0 auto;
    display: block;

  }




.divider{
    width:5px;
    height:15px;
    display:inline-block;
}
