#home-background{
    background: url('images/homeMusicPiano.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size:cover;
    background-size: cover;
    -o-background-size:cover;
}

#homecard{
    display: flex;
    justify-content: center;
    align-items: center;
}