{% load static %}

<html>
    <style>
        table, th, td {
          border:1px solid black;
        }
        </style>
<head>
    <title>This is Balance and Transaction page for student</title>
    <h1>This is Balance and Transaction page for student</h1>
    <br>
</head>
    <body>

<div>
    <body>
        <form action="{% url 'student_feed' %}" method="post">
             {% csrf_token %}
         <button type="submit" value="student_feed" class="btn btn-primary">Return to Student Feed Page</button>
      </form>
</div>
    
<div>
    {% for msg in messages %}
    {{msg}}
    {% endfor %}
</div>

<div>
    {% for balance in Balance %}
    <h3>here is your balance in £: {{balance}} </h3>
    {% endfor %}
    <br>
</div>

<div>
    <h3>Please enter amounts of money you want to transfer into your school balance below: </h3>
    <form action="{% url 'update_balance' %}" method = 'post'>
        {% csrf_token %}
        <label for='inputFees'>amounts:</label>
        <input type='number' name="inputFees" class = "form-control" />

        <button type = 'submit',  class = "btn btn-secondary">submit</button>
    </form>
    <br>
</div>

<div>
    <h3>Please enter the reference of the invoice you would like to pay and the amount of the money you want to pay:<h3> 
        <form action="{% url 'pay_for_invoice' %}" method = 'post'>
            {% csrf_token %}
            <label for='invocie_reference'>Invoice Reference:</label>
            <input type='text' name="invocie_reference" class = "form-control"/>

            <label for='amounts_pay'>Amounts want to pay:</label>
            <input type='number' name="amounts_pay" class = "form-control"/>

            <button type = 'submit',  class = "btn btn-secondary">submit</button>
        </form>
</div>

<div>
        <h1>Invoices<h1>
    <table style="width:100%">
        <tr>
            <!-- table head of the invoice -->
            <th>Reference</th>
            <th>Student ID</th>
            <th>Amount of fees</th>
            <th>Invoice status</th>
            <th>Amounts left to be paid</th>
        </tr>
        {% for invoice in Invoice reversed %} <!-- this function reads all the invoices under the student and print them out in one single table -->
        <tr>
            <td>{{invoice.reference_number}}</td>
            <td>{{invoice.student_ID}}</td>
            <td>{{invoice.fees_amount}}</td>
            <td>{{invoice.invoice_status}}</td>
            <td>{{invoice.amounts_need_to_pay}}</td>
        </tr>
        {% endfor %}
    </table>
</div>

<div>
    <h1>Transactions<h1>
    <h4>Transaction type 'IN' means that student is transfer money from outsider to their school balance</h4>
    <h4>Transaction type 'OUT' means that student is using money in their school balance to pay for the invoice</h4>
<table style="width:100%">
    <tr>
        <!-- table head of the transaction -->
        <th>Student ID</th>
        <th>Transaction Type</th>
        <th>Invoice reference number</th>
        <th>Transaction Amount</th>
    </tr>
    {% for transaction in Transaction reversed %} <!-- this function reads all the transactions under the student and print them out in one single table -->
    <tr>
        <td>{{transaction.Student_ID_transaction }}</td>
        <td>{{transaction.transaction_type}}</td>
        <td>{{transaction.invoice_reference_transaction }}</td>
        <td>{{transaction.transaction_amount }}</td>
    </tr>
    {% endfor %}
</table>
</div> 

    </body>
</html>