<html>
  <h1> THIS IS THE DIRECTOR FEED PAGE</h1>

<!-- Refactoring needed -->
<header>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</header>


{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.level_tag }}" role="alert">
  {{ message }}
</div>
{% endfor %}
{% endif %}

  <div class="row">
    <div class="col-12">
      <h1>Directors</h1>

        {% include 'partials/director_table/table_styles.html' %}

        <table class="table">
        <thead>
          {% include 'partials/director_table/table_head.html' %}
        </thead>
        <tbody>
          {% for user in directors %}
          {% include 'partials/director_table/table_rows.html' with user=user %}
          {% endfor %}
        </tbody>
        </table>

    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h1>Admins</h1>

        <p> <a href = '{% url 'create_admin_page' %}' class = "btn btn-sm btn-secondary"> Create admin  </a></p>

        {% include 'partials/director_table/table_styles.html' %}

        <table class="table">
        <thead>
          <tr>
            {% include 'partials/director_table/table_head.html' %}
          </tr>
        </thead>
        <tbody>
          {% for user in admins %}
          {% include 'partials/director_table/table_rows.html' with user=user %}
          {% endfor %}
        </tbody>
        </table>

    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h1>Teachers</h1>

        {% include 'partials/director_table/table_styles.html' %}

        <table class="table">
        <thead>
          <tr>
            {% include 'partials/director_table/table_head.html' %}
          </tr>
        </thead>
        <tbody>
          {% for user in teachers %}
          {% include 'partials/director_table/table_rows.html' with user=user %}
          {% endfor %}
        </tbody>
        </table>

    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h1>Students</h1>

        {% include 'partials/director_table/table_styles.html' %}

        <table class="table">
        <thead>
          <tr>
            {% include 'partials/director_table/table_head.html' %}
          </tr>
        </thead>
        <tbody>
          {% for user in students %}
          {% include 'partials/director_table/table_rows.html' with user=user %}
          {% endfor %}
        </tbody>
        </table>

    </div>
  </div>
