{% load static %}
<html>
    <style>
        table, th, td {
          border:1px solid black;
        }
        </style>
<head>
    <title>This is invoice for student</title>
</head>
    <body>
        <h1>Invoices<h1>
    <table style="width:100%">
        <tr>
            <!-- table head of the invoice -->
            <th>Reference</th>
            <th>Student ID</th>
            <th>Amount of fees</th>
        </tr>
        {% for inv in Invoice %} <!-- this function reads all the invoices under the student and print them out in one single table -->
        <tr>
            <td>{{inv.reference_number}}</td>
            <td>{{inv.student_ID}}</td>
            <td>{{inv.fees_amount}}</td>
        </tr>
        {% endfor %}
    </table>
        

    </body>
</heml>