<!--



Issue 1)
  When you are already logged in and you go back to the home
  page and press the blue Login, you can fill out any details you want 
  and will be logged in as the previous user.
  This doesn't happen without this UI. 

  Need to show that the person is currently logged in.

Issue 2)
  Also, redirect to login if credentials are incorrect, preferrably
  back to home page with alert
-->
















<h1> Log In </h1>
{% for message in messages %}
<div class="alert alert-{{ message.level_tag }}" role="alert">
  {{ message }}
</div>
{% endfor %}

  <body>
      <form action="{% url 'log_in' %}" method="post">
           {% csrf_token %}
           <input type="hidden" name="next" value="{{ next }}">
           {{form.as_p}}
       <input type="submit" value="log in" class="btn btn-primary">
  </form>
</body>
