{% load static %}
<html>
  <head>

    <script src = "{% url 'js-catalog' %}"></script>
    <script src="{% static '/admin/js/core.js' %}"></script>
    <link rel="stylesheet" href="{% static 'admin/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'admin/css/widgets.css' %}">

  <head>


  <h1> Request a lesson</h1>
  <p> Form will be here </p>

  <body>
      <form action="{% url 'new_lesson' %}" method="post">
           {% csrf_token %}
           {{ form.media }}
           {{ form.as_p }}
       <input type="submit" value="request lesson" class="btn btn-primary">
  </form>

  <form action = "{% url 'save_lessons' %}" method="post">
    {% csrf_token %}
  <h1>Saved Lessons</h1>
  <table>
    <tr>
      <th>Lesson Date</th>
      <th>Lesson</th>
      <th>Lesson Duration</th>
      <th>Teacher</th>
    </tr>
    {% for lesson in lessons %}
      <tr>
        <td>{{lesson.lesson_date_time}}</td>
        <td>{{lesson.type.label}}</td>
        <td>{{lesson.duration.label}}</td>
        <td>{{lesson.teacher_id}}</td>
      </tr>
    {% endfor %}
  </table>

<input type="submit" value="save lessons" class="btn btn-primary">
</form>


</body>

</html>
