
<body style="background-color: #edede9">


<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>{{student.first_name}} {{student.last_name}}'s Invoices and Transactions History</h1><br>
      <div>
        <h2> Student Invoices table </h2>
        <table class="table">
          <thead style="background-color: #023e8a;">
            <tr style="color: white; ">
              <th>Reference</th>
              <th>Student ID</th>
              <th>Amount of fees</th>
              <th>Lesson ID</th>
              <th>Invoice status</th>
              <th>Amounts left to pay</th>
            </tr>
          </thead>
          <tbody>
            {% for invoice in all_invoices %}
                <tr>
                    <td>{{ invoice.reference_number }}</td>
                    <td>{{ invoice.student_ID }}</td>
                    <td>{{ invoice.fees_amount }}</td>
                    <td>{{ invoice.lesson_ID }}</td>
                    <td>{{ invoice.invoice_status }}</td>
                    <td>{{ invoice.amounts_need_to_pay }}</td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
        {% if not all_transactions %}
        <h2>There are currently no items here</h2>
        {% endif %}
      </div>

      <div>
        <h2> Student Transactions table </h2>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Student ID</th>
              <th scope="col">Invoice Reference</th>
              <th scope="col">Transaction amount</th>
            </tr>
          </thead>
          <tbody>
            {% for transaction in all_transactions %}
                <tr>
                    <th scope="row">{{ transaction.Student_ID_transaction }} {{student}}</th>
                    <td>{{ transaction.invoice_reference_transaction }}</td>
                    <td>{{ transaction.transaction_amount }}</td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
        {% if not all_transactions %}
        <h2>There are currently no items here</h2>
        {% endif %}
      </div>

    </div>
    </div>
    </div>
  </body>
