<html>
<h1> THIS IS THE STUDENT FEED PAGE</h1>
<p>This page is under construction</p>

<p>Table goes here</p>

<p>Book for remainder of the term</p>

<p> <a href = '{% url 'requests_page' %}' class = "btn btn-lg btn-secondary"> Book lessons  </a></p>

<p> <a href = '{% url 'test_output' %}' class = "btn btn-lg btn-secondary"> getId  </a></p>

<h1>Booked Lessons</h1>
<table>
  <tr>
    <th>Lesson</th>
    <th>Lesson Date</th>
    <th>Lesson Duration</th>
    <th>Teacher</th>
  </tr>

</table>

<input type="submit" value="save lessons" class="btn btn-primary">
</form>
